@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap'); 

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; 
    background-color:transparent; 
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.nav-links {
    display: flex;
    gap: 30px; 
}
.nav-links a {
    text-decoration: none;
    color: rgb(147, 118, 118); 
    background-color: #333;
    font-weight: bold;
    font-size: 1.2em; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.nav-links a:hover {
    background-color: #333;
    color: #fff;
}
.logo {
    font-family: 'Matemasie', sans-serif; 
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-right: 80px;
    text-align: center;
    line-height: 1.2;
}
.logo span {
    display: block;
}
.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
}
.profile-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 200px;
}
.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    
}
.dropdown a {
    width: 80px;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    transition: background-color 0.3s;
}
.dropdown a:hover {
    background-color: #f0f0f0;
}
