<footer class="footer">
    <div class="about">
        <div class="logo">FitNation</div>
        <p>Yoga is a practice for body, mind, and spirit.</p>
    </div>
    <div class="links">
        <a routerLink="/home">Home</a>
        <a routerLink="/plans">Plans</a>
        <a routerLink="/program">Programs</a>
        
    </div>
    <div class="right">
        <div class="logo">FitNation</div>
        <img src="assets/images/playstore.png" alt="Download from Play Store">
        <img src="assets/images/appstore.png" alt="Download from App Store">
    </div>
</footer>
