<section class="program" id="program">
    <header class="section-header">
      <h3>Our Programs</h3>
      <h1>Explore Our Training Programs</h1>
    </header>
    <p style="text-align: center;">Join one of our specialized programs to reach your fitness goals.</p>
  
    <div class="programs-contents">
      <div class="program-card" *ngFor="let program of programs">
        <div class="program-image">
          <img [src]="program.imageUrl" alt="{{ program.name }} Program">
        </div>
        <div class="program-desc">
          <h2>{{ program.name }}</h2>
          <p>{{ program.description }}</p>
          <button (click)="viewMore(program)">View More</button>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Modal -->
  <div *ngIf="selectedProgram" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close-button" (click)="closeModal()">&times;</span>
      <h2>{{ selectedProgram.name }}</h2>
      <p><strong>Description:</strong> {{ selectedProgram.description }}</p>
      <p><strong>Duration:</strong> {{ selectedProgram.duration }}</p>
      <p><strong>Details:</strong> {{ selectedProgram.details }}</p>
    </div>
  </div>
  