<app-aluminium-pass></app-aluminium-pass>
<div class="pass-details">
    <h1 class="main-heading">Cross-Training Activities</h1>
    
    <div class="exercise-section">
        <h3>Activity 1: Boxing</h3>
        <iframe src="../../assets/videos/boxing.mp4" frameborder="0" allowfullscreen></iframe>
        <p>Steps to perform basic boxing techniques:</p>
        <ul>
            <li>Stand with your feet shoulder-width apart.</li>
            <li>Keep your hands up to protect your face.</li>
            <li>Practice throwing jabs and crosses while moving.</li>
        </ul>
    </div>
    
    <div class="exercise-section">
        <h3>Activity 2: Battle Ropes</h3>
        <iframe src="../../assets/videos/battleropes.mp4" frameborder="0" allowfullscreen></iframe>
        <p>Steps to perform Battle Ropes training:</p>
        <ul>
            <li>Stand with your feet hip-width apart, holding one end of the rope in each hand.</li>
            <li>Engage your core and bend slightly at the knees.</li>
            <li>Wave the ropes up and down or side to side for a set duration.</li>
        </ul>
    </div>

    <div class="exercise-section">
        <h3>Activity 3: Russian Twists</h3>
        <iframe src="../../assets/videos/russiantwists.mp4" frameborder="0" allowfullscreen></iframe>
        <p>Steps to perform Russian Twists:</p>
        <ul>
            <li>Sit on the floor with your knees bent and feet flat, leaning back slightly.</li>
            <li>Hold a weight or medicine ball with both hands at chest level.</li>
            <li>Twist your torso to the right, bringing the weight beside your hip.</li>
            <li>Return to the center, then twist to the left side.</li>
            <li>Continue alternating sides for the desired number of repetitions.</li>
        </ul>
    </div>
    
    <div class="exercise-section">
        <h3>Activity 4 : Box Jumps</h3>
        <iframe src="../../assets/videos/boxjumps.mp4" frameborder="0" allowfullscreen></iframe>
        <p>Steps to perform Box Jumps:</p>
        <ul>
            <li>Stand in front of a sturdy box or platform, feet shoulder-width apart.</li>
            <li>Lower into a quarter squat, swinging your arms back.</li>
            <li>Explosively jump onto the box, using your arms to propel you upward.</li>
            <li>Land softly with your knees slightly bent, fully standing on the box.</li>
            <li>Step back down and repeat for the desired number of repetitions.</li>
        </ul>
    </div>
</div>
