<div class="login-container">
  <div class="login-left">
    <div class="form-container">
      <a  class="logo">
        <span>Fit</span>
        <span>Nation</span>
    </a>
      <h2>Login! 🏋🏻‍♀️</h2>
      <p>How do I get started?</p>
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user1.email"
          placeholder="myfitness@gmail.com"
          required
          #email="ngModel" ngModel [email]="true"
        >
        <div *ngIf="loginForm.submitted && email.invalid" class="error-message">
          Email is required.
        </div>
        <div *ngIf="email.errors?.['email']">Invalid email format.</div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user1.password"
          placeholder="******"
          required
          #password="ngModel"
        >
        <div *ngIf="loginForm.submitted && password.invalid" class="error-message">
          Password is required.
        </div>

        <button type="submit" class="btn btn-signin">Sign In</button>
      </form>
      <p class="sign-up-prompt">Don't have an account? <a routerLink="/sign-up">Sign Up Now</a></p>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}
        
      </p> 
      <!-- Display error message -->
    </div>
  </div>
  <div class="login-right"></div>
</div>
