<div class="background-image">
  <div class="sign-up-container">
    <h2>Sign Up</h2>
    <form #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)">
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="write your name" name="name" [(ngModel)]="user.name" required />

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="write your email" name="email" [(ngModel)]="user.email" required />

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="write password" name="password" [(ngModel)]="user.password" required />

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" placeholder="confirm password" name="confirmPassword" [(ngModel)]="user.confirmPassword" required />

      <button type="submit" class="btn btn-signup">Sign Up</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login Here</a></p>
  </div>
</div>
